    /* --- PAGE 6: ĐÁNH GIÁ --- */
    .review {
        padding: 25px;
    }

    .review-title {

        margin-top: 40px;
        font-size: 18px;
        font-weight: 600;
        color: #495057;
    }

    .review table {
        margin-top: 5px;
    }

    .review td:last-child {
        white-space: nowrap;
    }

    .review td:last-child form {
        display: inline-block;
        margin: 0;
    }

    .review td button {
        font-weight: 500;
        font-size: 15px;
        margin-top: 0;
        margin-right: 5px;
        color: white;
        background: #c76739;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
    }
    .review .delete {
        font-weight: 500;
        font-size: 15px;
        margin-top: 0;
        margin-right: 5px;
        color: white;
        background: #c73939;
        width: 30px;
        height: 30px;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
    }
    .review .delete:hover{
        background: #b02a37;
    }

    .review td button:hover {
        background: #8c4828;
    }