.container {
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    min-height: 450px;
    width: 400px;

}

.container h2 {
    text-align: center;
    margin-bottom: 12px;
    color: #c76739;
    font-size: 24px;
    margin-top: 12px;
}

.container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.container input[type="text"], .container input[type="email"], .container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container .bt_regis {
    display: flex;
    justify-content: space-between;
}

.bt_regis button {
    width: 44%;
    padding: 10px;
    background-color: #c76739;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.bt_regis button:hover {
    background: #8c4828;

}
.register-form .status{
    font-size: 10px;
    margin-bottom: 10px;
}

.container .or-login {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

.container .or-login img {
    margin: 0 10px;
    cursor: pointer;
}

.container .or-login .icon-btn {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0 8px;
    cursor: pointer;
    appearance: none;
}

.container .status {
    color: red;
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.container .password-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    gap: 8px;
}
.container .password-wrapper .lbtoggle{
    margin-top:10px;
}
.container .error-msg{
    margin-bottom: 20px;
}

.container input.input-error {
    border-color: red;
    margin-bottom: 4px;
}

.container .error {
    display: none;
    color: red;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 8px;
}

